<framework-data>
	<options>
		<option id="com.atmel.avr.sf.mega.mega.applications.mega_gpio_example" value="true"/>
		<option id="com.atmel.avr.sf.mega.mega.utils" value="true"/>
	</options>
	<files>
		<file framework="com.atmel.avr.sf.mega" version="2.5.1-17860" path="src/mega_gpio_example.c" source="mega/applications/mega_gpio_example/mega_gpio_example.c" changed="False"/>
		<file framework="com.atmel.avr.sf.mega" version="2.5.1-17860" path="src/asf/mega/utils/compiler.h" source="mega/utils/compiler.h" changed="False"/>
		<file framework="com.atmel.avr.sf.mega" version="2.5.1-17860" path="src/asf/mega/utils/status_codes.h" source="mega/utils/status_codes.h" changed="False"/>
		<file framework="com.atmel.avr.sf.mega" version="2.5.1-17860" path="src/asf/mega/utils/parts.h" source="mega/utils/parts.h" changed="False"/>
		<file framework="com.atmel.avr.sf.mega" version="2.5.1-17860" path="src/asf.h" source="./mega/applications/mega_gpio_example/mega128_stk600/as5_8/asf.h" changed="False"/>
		<file framework="com.atmel.avr.sf.mega" version="2.5.1-17860" path="src/config/conf_example.h" source="mega/applications/mega_gpio_example/mega128_stk600/conf_example.h" changed="False"/>
		<file framework="com.atmel.avr.sf.mega" version="2.5.1-17860" path="src/asf/common/utils/interrupt/interrupt_avr8.h" source="common/utils/interrupt/interrupt_avr8.h" changed="False"/>
		<file framework="com.atmel.avr.sf.mega" version="2.5.1-17860" path="src/asf/common/utils/interrupt.h" source="common/utils/interrupt.h" changed="False"/>
		<file framework="com.atmel.avr.sf.mega" version="2.5.1-17860" path="src/asf/common/utils/make/Makefile.avr.in" source="common/utils/make/Makefile.avr.in" changed="False"/>
	</files>
	<documentation help="http://asf.atmel.com/docs/2.5.1/mega/applications/mega_gpio_example/mega128_stk600/doxygen/html/"/>
</framework-data>
